.contact {
  width: 100%;
  height: 100%;

  .contact-content {
    max-width: 980px;
    height: 100%;
    margin: 148px auto 90px auto;
    position: relative;
    @include displayFlex(flex, space-between, flex-start);
    h1 {
      border-bottom: 2px solid black;
      font-family: gill;
      font-size: 25px;
      font-weight: normal;
      width: 229px;
      padding-bottom: 10px;
      position: absolute;
      top: 0;
      left: 0;
      letter-spacing: 2.5px;
    }

    .contact-form {
      @include displayFlex(flex, space-between, flex-start);
      flex-direction: column;
      margin-top: 105px;

      .contact-form-box {
        width: 529px;
        height: 60px;
        margin-bottom: 21px;
        border: none;
        background-color: #f5f5f5;
        padding: 21px;
      }

      .contact-form-box::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-family: gill;
        font-size: 16px;
        letter-spacing: 0px;
      }

      .contact-message-box::placeholder {
        color: rgba(0, 0, 0, 0.5);
        font-family: gill;
        font-size: 16px;
        letter-spacing: 0px;
        text-overflow: ellipsis;
      }

      .contact-message-box {
        padding: 21px;
        width: 529px;
        height: 199px;
        border: none;
        background-color: #f5f5f5;
        margin-bottom: 21px;
        letter-spacing: 0px;
      }
      .contact-form-submit {
        @include siteButton(0, 0);
        width: 167px;
        height: 60px;
        color: white;
        font-family: Gill;
        font-size: 16px;
        border: none;
        letter-spacing: 1.6px;
      }
    }
    .contact-map {
      margin-top: 105px;
      width: 400px;
      height: 442px;
      background-image: url(../images/map.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: none;
    }
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    padding: 0 15px 0 15px;
    .contact-content {
      flex-direction: column;
      width: 100%;
      .contact-form {
        width: 100%;

        .contact-form-box {
          width: 100%;
        }
        .contact-message-box {
          width: 100%;
          margin: 0 auto;
        }
        .contact-form-submit {
          margin: 21px auto 42px auto;
        }
      }
      .contact-map {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
