$site-pink: #ee4367;
$site-purple: #540d6e;
$site-gold: #ffd140;
$site-blue: #3bceab;
$site-green: #08ad69;
$home-gold-overlay: rgba(255, 209, 64, 0.8);
$gallery-gold-overlay: rgba(255, 209, 64, 0.7);
$gallery-pink-overlay: rgba(238, 67, 103, 0.7);
$gallery-green-overlay: rgba(8, 173, 105, 0.7);
$gallery-purple-overlay: rgba(84, 13, 110, 0.7);
$gallery-blue-overlay: rgba(59, 206, 171, 0.7);
$blog-pink-overlay: rgba(238, 67, 103, 0.6);
